body {margin: 0; background-color: #e9e9e9; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;}
#topbar { width: 100%; height: 50px; background-color: #20a8e9; }
#topbar-content { width: 900px; margin: auto; color:#FFFFFF; }
#topbar-content #title { float: left; line-height: 50px; font-size:30px; font-weight: 800;}
#topbar-content #author { float: right; margin-top: 30px; margin-right: 5px; font-size: 13px;}
#content { width: 900px; margin: auto; margin-top: 30px;}
#left-column {float: left; width: 420px;}
#right-column {float: right; width: 460px; }
.section { border-radius: 10px; padding: 0 0 20px 0; margin: 0 auto 30px auto; box-shadow: 0 0 25px rgba(0,0,0,0.04); background: #FFFFFF;}
#cube_canvas {margin: 25px 0 0 35px;}
a { text-decoration: none;}
h2 { margin:0; padding: 20px 0 0 20px; font-size: 19px;}
h3 { margin:0; padding: 20 0 0 20px; color:#1caff6; font-size: 17px;}
b { font-family: "Courier New", Courier, monospace; color:#000000; width: 20px; }
input {width:100%; margin-top: 10px; font-size: 16px;}
.btn { margin: 15px 0 0 30px; padding: 0; width: 140px; font-size: 16px; line-height: 16px; position: relative; display: inline-block; padding: 8px 20px; text-align: center; vertical-align: middle; cursor: pointer; border-radius: 100px; font-weight: 700; -webkit-font-smoothing: antialiased;}
.small-btn { padding: 0; width: 10px; font-size: 16px; line-height: 10px; position: relative; display: inline-block; text-align: center; vertical-align: middle; cursor: pointer; border-radius: 100px; font-weight: 700; -webkit-font-smoothing: antialiased;}
.active-btn { background: #1caff6; color: #fff; border-color: #1caff6; }
.inactive-btn { color: #1caff6; }
.pressable:hover{ background: #22b5fc }
.pressable:active{ position:relative; top:1px; }
#orientation-controls {float: right; margin: -110px 60px 0 0;}
#orient-x {margin-left: 25px; padding:8px 11px 8px 5px;}
#orient-x- {margin-left: 25px; padding:10px 10px 6px 6px;}
#orient-y{margin-right: 20px; padding:8px 12px 8px 4px;}
#orient-y-{padding:8px 10px 8px 6px;}
#edges-solution a, #corners-solution a{color : #1caff6;}
#edges-solution a:hover, #corners-solution a:hover{color: #006FA5;}